<div class="container">
  <div class="jumbotron">
      <%= form_for @url, url: { action: "create"} do |f| %>
      <% if @url.errors.any? %>
      <div class="alert alert-danger" role="alert">
         <% @url.errors.full_messages.each do |message| %>
           <%= message %></br>
         <% end %>
      </div>
      <% end %>

      <div class="form-group">
      <%= f.label "Url to shorten:" %>
      <%= f.text_field :link, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "Shortening for link:" %>
        <%= f.text_field :shortening, class: 'form-control' %>
      </div>

      <div class="form-group">
      <%= f.label "Days to delete link:" %>
      <%= f.select (:days_to_delete), {class: "form-control" } do  %>
        <% (1..10).each do |c| -%>
          <%= content_tag(:option, c, value: c) %>
        <% end %>
      <% end %>
    </div>

      <%= f.submit "Submit", class: 'btn btn-success btn-lg btn-block' %>
    <% end %>
  </div>
</div>
